.sharePost {
    width: 100%;
    border-radius: 12px;
    height: 180px;
    background-color: rgb(46, 46, 46);
    color: white;

}

.sharePostContainer {
    padding: 12px;
}

.sharePostImg {
    object-fit: cover;
    height: 55px;
    margin-right: 12px;
    border-radius: 55%;
    width: 55px;
}

.shareHeader {
    align-items: center;
    display: flex;
}

.shareInput {
    width: 80%;
    border: none;
    border-radius: 32px;
    padding-left: 10px;
    cursor: pointer;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.option {
    margin-right: 12px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.optionText {
    margin-right: 12px;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

.options {
    display: flex;
    margin-left: 24px;
}

.button {
    border-radius: 7px;
    background-color: rgb(75, 75, 75);

}

.shareBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}